* { 
    box-sizing: border-box;
}

h1, h2, nav {
    text-align:center;
}

header, article, aside {
    width:100%;
}

header {
    background-color:#e5e5e5;
    padding:8px;
}

nav {
    overflow:auto;
}

h3, nav a {
    background-color:#e5e5e5;
    padding: 8px;
    width:100%;
    margin-top:7px;
    display:block;

}



img {
    max-width:100%;
}
article {
    width:100%;
}

aside {
    width:100%;
    background-color:#e5e5e5;
    padding: 15px;
    margin-top:7px;
}

@media screen and (min-width: 620px) { 

aside, nav {
    float:left;
    width:20%;
}

article {
    float:left;
    width:60%;
    padding: 0 20px;
}


}

